body {
    font-family: Arial, sans-serif;
    background-color: #6bc527;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
}

#booking-form, #ride-list {
    background-color: rgb(236, 177, 28);
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 0.5rem;
}

form label {
    display: block;
    margin-top: 1rem;
}

form input, form select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

button {
    margin-top: 1rem;
    background-color: #007bff;
    color: rgb(212, 212, 32);
    border: none;
    padding: 0.75rem;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #c32a8b;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
}
